<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1><%=campground.name%></h1>
            <p><%=campground.description%></p>            
        </div>
    </header>
    <p>
        <img src="<%=campground.image%>" alt="">
    </p>
</div>
<% include partials/footer %>